.btn{
  margin: 20px;
}

.boton{
  padding: 10px 10px;
  background-color: rgb(54, 120, 123);
  border: none;
  border-radius: 5px;
  color: white;
}

.boton:hover{
  background-color: rgb(20, 70, 73);
}